In [9]:
import json
import pandas as pd
from sqlalchemy import create_engine

In [4]:
with open('./config/secret.json') as f:
    config = json.load(f)
DB_USER = config['User']
DB_PASS = config['Password']
DB_HOST = config['Host']
DB_PORT = config['Port']
DB_NAME = config['Database']

In [11]:
# https://docs.sqlalchemy.org/en/14/core/engines.html
# engine = create_engine('postgresql://scott:tiger@localhost:5432/mydatabase')
engine = create_engine(f'postgresql://{DB_USER}:{DB_PASS}@{DB_HOST}:{DB_PORT}/{DB_NAME}')

In [15]:
# Read
sql = """
SELECT * FROM newtable
"""
df = pd.read_sql(sql, con=engine, index_col='id')
df

   first_name last_name
id
2          w2        k2
1          w1        k1

In [29]:
# add row dataframe
df.loc[3, :] = ['w3', 'k3']
df.loc[4, :] = ['w4', 'k4']
df

   first_name last_name
id
2          w2        k2
1          w1        k1
3          w3        k3
4          w4        k4

In [34]:
append_df = df.loc[3:3, :]
append_df

   first_name last_name
id
3          w3        k3

In [35]:
# Write
# fail
# append = INSERT INTO
# replace = INSERT OVERWRITE
append_df.to_sql(name='newtable', con=engine, if_exists='append', index=True)

1

In [48]:
# Create / Update / Delete
sql = """
    DELETE FROM newtable
    WHERE id = 3
"""
with engine.connect() as connection:
    result = connection.execute(sql)
    for row in result:
        print(row)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [46]:
result.fetchall